<div class="container">
  <div class="jumbotron col-sm-4 p-3 m-5 p-10">
    <h2 class="text-center">Angular Calculator</h2>

    <!-- Display the user input -->
    <div class="input-group input-group-md col-sm-12 m-0 p-0">
      <div class="col-sm-12 form-control text-lg-right" type="text">{{input}}</div>
    </div>

    <!-- Display the result -->
    <div class="input-group input-group-md col-sm-12 m-0 p-0">
      <div class="form-control text-lg-right" type="text">{{result}}</div>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button class="btn btn-info col-sm-3" type="button" (click)="allClear()">AC</button>
      <button class="btn btn-warning col-sm-3" type="button" (click)="clear()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
          <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
          <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
        </svg>
      </button>
      <button class="btn btn-primary col-sm-3" type="button" (click)="pressPercentage()">%</button>
      <button class="btn btn-primary col-sm-3" type="button" (click)="pressOperator('/')">/</button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('7')">7</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('8')">8</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('9')">9</button>
      <button class="btn btn-lg btn-primary col-sm-3 p-1" type="button" (click)="pressOperator('*')">*</button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('4')">4</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('5')">5</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('6')">6</button>
      <button class="btn btn-lg btn-primary col-sm-3 p-1" type="button" (click)="pressOperator('-')">-</button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('1')">1</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('2')">2</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('3')">3</button>
      <button class="btn btn-lg btn-primary col-sm-3 p-1" type="button" (click)="pressOperator('+')">+</button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressOperator('.')">.</button>
      <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="pressNum('0')">0</button>
      <button class="btn btn-lg btn-success col-sm-6 p-1" (click)="getAnswer()">=</button>
    </div>
  </div>
</div>